 <!-- Servlet Configuration ========================================== -->
  
    <!--
      - 配置前端控制器，服务器启动时必须加载，需要记载springmvc.xml配置文件
      -->
    <servlet>
      <servlet-name>DispatcherServlet</servlet-name>
      <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
      <!-- 配置初始化参数，创建完DispatcherServlet对象，加载springmvc.xml文件 -->
     <init-param>
       <param-name>contextConfigLocation</param-name>
       <param-value>classpath:springmvc.xml</param-value>
     </init-param>
     <load-on-startup>1</load-on-startup>
   </servlet>
 
   <!-- URL space mappings ============================================= -->
 
   <servlet-mapping>
     <servlet-name>DispatcherServlet</servlet-name>
     <url-pattern>/</url-pattern>
   </servlet-mapping>

